<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/script/css/login/login_background.css" />
    <link rel="stylesheet" href="/script/css/login/loginHelp_style.css" />
    <title>Login Help</title>
  </head>
  <body>
    <div id="container" class="helpContainer">
      <div class="header">
        <a class="logo_title" href="/">TRIP</a>
      </div>
      <div class="form_container">
        <div class="helpGuide">
          <h2>아이디 / 비밀번호를 잊으셨나요?</h2>
        </div>
        <form class="helpForm" method="POST">
          <div class="findContainer">
            <h4>
              <label for="findEmail">이메일</label>
            </h4>
            <div class="inputEmail">
              <input id="findEmail" type="email" name="email" placeholder="email" autocomplete="off" />
            </div>
            <span class="helpDescription">* 가입된 이메일을 입력해주세요.</span></br>
            <span class="message"><%= locals.message %></span>
          </div>
          <button class="helpButton">제출</button>
        </form>
      </div>
    </div>
    <%- include('overlab_script.ejs') %>
  </body>
</html>
