<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/script/css/login/login_background.css" />
    <link rel="stylesheet" href="/script/css/login/login_style.css" />
    <title>Document</title>
  </head>
  <body>
    <% if(locals.login_info) { %> <% locals.login_info.forEach(i => { %>
    <input
      type="hidden"
      id="<%= i.id %>"
      class="<%= i.class %>"
      value="<%= i.error %>"
    />
    <% })} %>
    <div id="container" class="loginContainer">
      <p style="color: white; font-size: 30px">로그인</p>
      <form class="loginForm" method="POST">
        <input
          class="loginInput"
          name="login_userId"
          type="text"
          placeholder="User ID"
        />
        <span id="login_userId_errorMsg"></span>
        <input
          class="loginInput"
          name="login_password"
          type="password"
          placeholder="Password"
        />
        <span id="login_password_errorMsg"></span>
        <button class="loginSubmit">로그인</button>
      </form>
      <a class="login_helper" href="/loginHelp">도움이 필요하신가요?</a>
      <a class="account" href="/account">회원이 아니신가요?</a>
    </div>

    <%- include('overlab_script.ejs') %>
    <script type="module" src="/script/js/login/login.js"></script>
  </body>
</html>
