html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
}

.error_topContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_bottomContainer {
  position: absolute;
  width: 800px;
  height: 600px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emoji {
  color: yellow;
}

.errorText {
  font-size: 50px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
