extends pug/album/profile.pug

block header
    <!-- 상단 메뉴 --!>
        div.header
            <!-- 홈 --!>
            div.header_container
                div.home
                    a(href="/trip").homeBtn
                        i(class="fas fa-home")
                        span Trip
                <!-- 검색 --!>
                div.searchArea
                    form
                        div.search
                            input(type="text" placeholder="검색")
                            button
                                i(class="fas fa-search")
                <!-- 메뉴 --!>
                div.navMenu
                    div.uploadArea
                        a(href="/trip/upload").upload
                            i(class="fas fa-upload")
                            span 업로드
                    div.profileArea
                        div.profile
                            a(href=`/trip/${nickname}`).link
                                div.profileImage
                                span 프로필