doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/script/css/album/header.css")
        link(rel="stylesheet" href="/script/css/album/country_album.css")
        script(src="https://kit.fontawesome.com/809697769a.js" crossorigin="anonymous")
        title Document
    body
        <!-- 상단 메뉴 --!>
        div.header
            <!-- 홈 --!>
            div.header_container
                div.home
                    a(href="/trip").homeBtn
                        i(class="fas fa-home")
                        span Trip
                <!-- 검색 --!>
                div.searchArea
                    form(method="GET")
                        div.search
                            input(type="text" name="search" placeholder="검색")
                            button
                                i(class="fas fa-search")
                <!-- 메뉴 --!>
                div.navMenu
                    div.uploadArea
                        a(href="/trip/upload").upload
                            i(class="fas fa-upload")
                            span 업로드
                    div.profileArea
                        div.profile
                            a(href=`/trip/${nickname}`).link
                                div.profileImage
                                span 프로필
    
        div.main 
            div.menu 
                ul
                    li
                        a(href="p") 이미지
                    li
                        a(href="v") 비디오
                    li 
                        a(href="lm") 랜드마크

            div.viewContainer 
                if file
                    each i in file
                        div.borderImage
                            input.fileId(type="hidden" value=`${i.fileId}`)
                            img(src=`/file/upload/image/${i.imageFile[0]}`)
                else
                    div 게시물이 없습니다.

            div.menu 
                ul
                    li
                        a(href="") 전체 카테고리

        script(src="/script/js/album/country_album.js")