doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/script/css/album/upload.css")
        script(src="https://kit.fontawesome.com/809697769a.js" crossorigin="anonymous")
        title Document
    body 
        div.upload_topContainer
            form(method="POST" enctype="multipart/form-data") 
                input(type="file" style="display: none" id="hidden_uploadFile_input" name="upload_file" accept=".jpg, .png, .gif, .mp4" multiple)
                div.upload_downContainer
                    div.upload_imageBox
                        div.upload_imageBox_visibleNormal
                            i.img_icon(class="fas fa-photo-video fa-4x")
                            div.upload_button 컴퓨터에서 선택
                        div.upload_imageBox_selectVisible
                            div.del_button
                                div.button_circle.del_button
                                    i(class="fas fa-times fa-lg")
                            div.select_button
                                div.button_circle.left_button
                                    i(class="fas fa-chevron-left")
                                div.button_circle.right_button
                                    i(class="fas fa-chevron-right")
                            div.add_button
                                div.button_circle.add_button
                                    i(class="fas fa-images")
                    div.upload_imageInfo_container
                        div.titleBox
                            input(type="text" id="title" name="title" placeholder="제목")
                        div.phrasesBox 
                            textarea(id="phrases" name="phrases", cols="30", rows="10" placeholder="문구 입력...")
                        div.publicBox
                            span 게시물 숨기기
                            input(type="checkbox" id="toggle" name="public" hidden)
                            label(for="toggle" class="toggleSwitch")
                                span.toggleButton
                        button.upload_submitButton 업로드
        script(src="/script/js/album/upload.js")