.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.book {
  margin: 20px 0 10px 0;
  overflow: hidden;
}

.viewImage {
  width: 800px;
  height: 500px;
}

.imageInformation {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px 0 10px 0;
  margin-bottom: 10px;
  color: white;
}

.user {
  display: flex;
}

.user > .username {
  line-height: 60px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.profile > a > img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  background-color: beige;
  cursor: pointer;
}

.inputText {
  display: flex;
}

.inputText > input {
  width: 740px;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
  margin-left: 20px;
  color: white;
  background-color: rgb(22, 22, 22);
}

.inputText > input:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.commentList {
  margin-top: 20px;
}

.commentList > ul {
  margin: 0;
  padding-left: 0;
}

.commentBox {
  display: flex;
  margin-bottom: 20px;
}

.viewImgBox > a > img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.viewCommentBox {
  margin-left: 15px;
}

.underViewName {
  display: flex;
}

.underViewName > div {
  text-align: top;
}

.underViewName > a {
  font-size: 12px;
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.underViewName > a:hover {
  color: white;
}

.underViewName > div {
  margin-left: 13px;
  font-size: 12px;
  color: gray;
}

.underViewText {
  width: 750px;
  margin-top: 3px;
  font-size: 13px;
  color: white;
}

.noComment {
  margin-left: 60px;
  color: white;
}

.anotherList {
  display: flex;
}

.anotherFile {
  margin: 17px 0 0 20px;
}

.contents {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 3px;
  margin-bottom: 5px;
  border: 1px solid rgba(22, 22, 22, 0.5);
  border-radius: 10px;
}

.contents:active {
  background-color: rgba(141, 141, 141, 0.5);
}

.anotherList {
  cursor: pointer;
}

.anotherView {
  height: 100px;
}

.anotherView > img {
  width: 160px;
  height: 100px;
  object-fit: contain;
  border-radius: 10px;
}

.anotherInfo {
  margin-left: 10px;
}

.anotherInfo > .title {
  font-size: 15px;
  color: white;
}

.anotherInfo > .username {
  font-size: 12px;
  margin-top: 5px;
  color: gray;
}

.hidden {
  display: none;
}
