doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/country_album.css")
        script(src="https://kit.fontawesome.com/809697769a.js" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title Document
    body
        header
            div.upload
                span 업로드
                i(class="fas fa-upload")
        main 
            div.frame
        
        script(src="/js/country_album.js")
