.helpContainer {
  position: absolute;
  width: 450px;
  height: 550px;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 20px;
  color: white;
}

.header {
  height: 50px;
  text-align: center;
  font-size: 35px;
  margin: 30px 0 20px 0;
}

.header > .logo_title {
  text-decoration: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form_container {
  position: absolute;
  width: 450px;
  height: 450px;
}

.helpGuide {
  display: flex;
  justify-content: center;
}

.helpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.findContainer {
  width: 350px;
  margin-top: 50px;
}

.findContainer > h4 {
  margin: 0;
}

.inputEmail > input {
  width: 342px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
}

.helpDescription {
  color: gray;
  font-size: 12px;
  font-weight: bold;
}

.message {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  color: red;
}

.helpButton {
  width: 350px;
  height: 36px;
  margin-top: 50px;
  font-size: 16px;
}
