<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login_background.css" />
    <link rel="stylesheet" href="login_style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="container" class="loginContainer">
      <p style="color: white; font-size: 30px">로그인</p>
      <form class="loginForm" method="POST">
        <input class="loginInput" type="text" placeholder="User ID" />
        <input class="loginInput" type="password" placeholder="Password" />
        <button class="loginSubmit">로그인</button>
      </form>
      <a class="login_helper" href="/loginHelp">도움이 필요하신가요?</a>
      <a class="account" href="/account">회원이 아니신가요?</a>
    </div>

    <%- include('script.ejs') %>
  </body>
</html>
