body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
}

.upload_topContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload_downContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
}

.upload_imageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 800px;
  border-radius: 10px;
  color: white;
}

.upload_imageBox > .upload_imageBox_visibleNormal > .upload_button {
  width: 150px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: rgb(0, 174, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  transition: 0.1s;
  cursor: pointer;
}

.upload_imageBox > .upload_imageBox_visibleNormal > .upload_button:active {
  background-color: rgba(0, 174, 255, 0.4);
  box-shadow: none;
}

.upload_imageBox > .upload_imageBox_visibleNormal > .upload_button,
.upload_imageBox > .upload_imageBox_visibleNormal > i {
  width: 150px;
  text-align: center;
  margin: 20px 0 20px 0;
}

.upload_imageBox > .upload_imageBox_selectVisible {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.upload_imageBox_selectVisible > .del_button,
.upload_imageBox_selectVisible > .add_button {
  display: flex;
  justify-content: end;
  margin: 10px 15px 10px 0;
}

.upload_imageBox_selectVisible > .select_button {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  /*text-align: justify;*/
}

.upload_imageBox_selectVisible > .select_button > .left_button {
  visibility: hidden;
}

.button_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.button_circle:hover {
  opacity: 0.5;
}

.button_circle:active {
  opacity: 0.85;
}

.upload_imageInfo_container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 800px;
  color: white;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.upload_imageInfo_container > div {
  margin: 20px 0 20px 0;
}

.upload_imageInfo_container > .titleBox > input {
  width: 250px;
  height: 30px;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 5px;
  color: white;
  background-color: rgb(22, 22, 22);
}

.upload_imageInfo_container > .phrasesBox > textarea {
  width: 250px;
  height: 150px;
  resize: none;
  font-size: 15px;
  border-radius: 5px;
  color: white;
  background-color: rgb(22, 22, 22);
}

.publicBox {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.toggleSwitch {
  width: 3.3rem;
  height: 2rem;
  display: block;
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 1rem 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f03d3d;
}

#toggle:checked ~ .toggleSwitch {
  background: #f03d3d;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 1.8rem);
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}

.upload_imageInfo_container > .upload_submitButton {
  all: unset;
  width: 50px;
  color: rgb(0, 89, 255);
  cursor: pointer;
}

@keyframes imageInfo_appear {
  from {
    width: 0px;
    height: 800px;
  }
  to {
    width: 300px;
    height: 800px;
  }
}

@keyframes imageInfo_disappear {
  from {
    width: 300px;
    height: 800px;
  }
  to {
    width: 0px;
    height: 800px;
  }
}
