doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div
            h2 사진
        div 앨범에 올려진 모든 유저들의 사진들을 구현
        
        div
            h2 동영상
        div 앨범에 올려진 모든 동영상을 구현